<div class="card">
  <span [ngClass]="{
    opened: card.opened}"
  >{{card.opened ? 'Aberto' : 'Fechado'}}</span>
  <h3>{{card.title}}</h3>
  <p>{{card.content}}</p>
  <div class="divider"></div>
  <ul>
    <img *ngIf="card.mask" [src]="'../../../assets/images/icon/' + card.mask + '-mask.png'"/>
    <img *ngIf="card.towel" [src]="'../../../assets/images/icon/' + card.towel + '-towel.png'"/>
    <img  *ngIf="card.fountain" [src]="'../../../assets/images/icon/' + card.fountain + '-fountain.png'"/>
    <img *ngIf="card.locker_room" [src]="'../../../assets/images/icon/' + card.locker_room + '-lockerroom.png'"/>
  </ul>
  <ul>
    <li *ngFor="let schedule of card.schedules">
      <b>{{ schedule.weekdays }}</b>
      {{ schedule.hour }}
    </li>
  </ul>

  <div class="btn-wrapper">
    <button class="btn btn-primary" [routerLink]="['/createUnitComponent', card.id]">Atualizar</button>
    <button class="btn btn-secondary"  (click)="onSubmitDelete()">Deletar</button>
  </div>
</div>
