<div class="grid">
  <div class="col-12">
    <p-card
      header="Detalhe da Sessao da Data"
      styleClass="shadow-3 m-5 text-indigo-800"
    >
      <p-table
        #DetalhesTable
        [value]="Sessao ? [Sessao] : []"
        [rows]="10"
        [paginator]="true"
        [responsive]="true"
        [tableStyle]="{'min-width': '75rem'}"
        [(selection)]="SessaoSelectedHistorico"
        [rowHover]="true"
        [showCurrentPageReport]="true"
        data="id"
        currentPageReportTemplate="Mostrando {first} de {last} de sessões"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="brinco">
              <div class="flex justify-content-between align-items-center">
                <div class="flex justify-content-between align-items-center">
                  Brinco
                </div>
                <div class="flex justify-content-between align-items-center">
                  <p-sortIcon field="brinco"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="brinco"
                    display="menu"
                    matchMode="contains"
                    [showMatchModes]="false"
                    [showOperator]="false"
                    [showAddButton]="false"
                  ></p-columnFilter>
                </div>
              </div>
            </th>

            <th pSortableColumn="atividade" *ngFor="let atividade of atividades_sessao">

              <div class="flex justify-content-between align-items-center">
                <div class="flex justify-content-between align-items-center">
                  {{atividade}}
                </div>
                <div class="flex justify-content-between align-items-center">
                  <p-sortIcon field="atividade"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="atividade"
                    display="menu"
                    matchMode="contains"
                    [showMatchModes]="false"
                    [showOperator]="false"
                    [showAddButton]="false"
                  ></p-columnFilter>
                </div>
              </div>
            </th>

          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-Sessao >
          <tr *ngFor="let brinco of historicoSessaoBrinco">
            <td>{{brinco }}</td>

            <td *ngFor="let atividade of atividades_sessao ">
                {{ getSessoes(brinco, atividade) }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    
    </p-card>
  </div>
</div>
