body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.container-destinos{
    display: flex;
    flex-direction: row; 
    gap: 20px;
    align-content: flex-end;
    height: 320px;
    flex-wrap: wrap;
    max-width: 1350px;
    margin: 0 auto;
}
img{
    width: 200px;
    height: 100px;
    border-radius: 5px; 
    margin-top: 20px;
}
.container > div {
    flex-basis: 200px;
    text-align: center;
}
.roteiros-viagens{
    background-color: rgb(213, 201, 221);
    text-align: center;
    border-radius: 5px;
    flex: 1; 
    max-width: 300px;
}
.roteiros-viagens ul {
    list-style: none; 
}
.roteiro-incluso{
    text-align:start;         
}
.roteiro-comprar{
    background-color: rgb(107, 161, 75);
    border-radius: 5px; 
}
.texto-destino {
    width: 200px;
    margin: 0 auto; 
    color: rgb(66, 19, 97);
}
.roteiro-destino,
.roteiro-preco {
    font-weight: bold;
}

/* Estilo padrão do botão */
button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    margin: 10px;
    cursor: pointer;
    transition-duration: 0.3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1);
  }
  
  /* Estilo ao passar o mouse por cima */
  button:hover {
    background-color: #e74c3c;
    color: #fff;
    cursor: pointer;
  }
  
  /* Estilo ao clicar no botão */
  button:active {
    transform: translateY(12px);
  }
  