

<div class="container_caracter">
    <app-busca-veiculos (sendCategoria)="onSendCategoria($event)" (sendCaracter)="onSendCaracter($event) "></app-busca-veiculos>
    
    <div  class="buttons-column-caracter">
        <h1 [ngStyle]="{'backgroundColor': backgroundColor_,'padding': padding_,'color': color_,'fontFamily': fontFamily_,
            'marginTop': marginTop_,'border': border_,'textAlign': textAlign_, 'line-height': '30px','border-radius': '10px'
            }">
            {{ titutoTop }}
        </h1>

        <div #buscaCaracter *ngFor="let categoria of resultadoCaracter">
            <p [ngStyle]="{'display': 'flex', 'flex-direction': 'column','gap': '8px','padding': '5px 5px','margin-top': '5px'
            ,'background-color': '#007bff', 'cursor': 'pointer', 'textAlign': textAlign_,'border-radius': '10px'} "(click)="handleNomeClick(categoria.Name)">
            {{ categoria.Name }}</p>
            
        </div>
    </div>
    
</div>