
.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-right: 10px;
    width: 70%; 
    height: 50%; 
    /* margin-left: 10px; */


}
.buttons-column-caracter {
    grid-column: 2 / span 1; 
    padding: '5px, 5px';
    margin: auto;

} 

