
<div *ngIf="ref.data.event.action === addSuinoEvent">


  <form [formGroup]="addSuinoForm" (ngSubmit)="handleSubmitAddSuino()">

    <div class="card flex flex-column md:flex-column gap-3">
      <input pInputText placeholder="Número do brinco" formControlName="brinco"/>
      <input pInputText placeholder="Brinco do Pai" formControlName="brincoPai"/>
      <input pInputText placeholder="Brinco de Mae" formControlName="brincoMae"/>
      <input pInputText type ="date" placeholder="Data de Nascimento" formControlName="dataNascimento">
      <input pInputText type ="date" placeholder="Data de Saída" formControlName="dataSaida">

      <p-dropdown
      styleClass="w-full"
      [options]="status_suino"
      [(ngModel)]="selectedStatus"
      placeholder="Status do animal"
      formControlName="status"
      ></p-dropdown>
      <p-dropdown
      styleClass="w-full"
      [options]="sexo_suino"
      [(ngModel)]="selectedSexo"
      placeholder="Sexo do animal"
      formControlName="sexo"
      ></p-dropdown>
      <div class="flex flex-row justify-content-center align-content-center align-items-center m-1">
        <p-button
        [disabled]="!addSuinoForm.valid"
        type="submit"
        label="Concluir"
        ></p-button>
      </div>

    </div>
  </form>
</div>

<div *ngIf="ref.data.event.action === editSuinoEvent">

 <form [formGroup]="editSuinoForm" (ngSubmit)="handleEditSuino()">

   <div class="card flex flex-column md:flex-column gap-3">
     <input pInputText placeholder="Número do brinco" formControlName="brinco"/>
     <input pInputText placeholder="Brinco do Pai" formControlName="brincoPai"/>
     <input pInputText placeholder="Brinco de Mae" formControlName="brincoMae"/>
     <input pInputText type ="date" placeholder="Data de Nascimento" formControlName="dataNascimento">
     <input pInputText type ="date" placeholder="Data de Saída" formControlName="dataSaida">

     <p-dropdown
     styleClass="w-full"
     [options]="status_suino"
     [(ngModel)]="selectedStatus"
     placeholder="Status do animal"
     formControlName="status"
     ></p-dropdown>
     <p-dropdown
     styleClass="w-full"
     [options]="sexo_suino"
     [(ngModel)]="selectedSexo"
     placeholder="Sexo do animal"
     formControlName="sexo"
     ></p-dropdown>

     <div class="flex flex-row justify-content-center align-content-center align-items-center m-1">
       <p-button
       [disabled]="!editSuinoForm.valid"
       type="submit"
       label="Concluir"
       ></p-button>
     </div>

   </div>
 </form>
</div>

